.carousel-item {
  position: relative;
}

@font-face {
  font-family: "seoge";
  src: url("../assets/fonts/Seoge/segoeuithis.ttf");
}

.contenedor-texto-carousel {
  width: 60%;
  height: 20rem;
  position: absolute;
  top: 15%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titulo-item-carousel {
  font-family: "kulacino";
  font-size: 10rem;
  color: #ffffff;
}

.texto-item-carousel {
  font-size: 1.3rem;
  text-align: start;
  color: #c3c3c3;
  font-family: "seoge";
  width: 70%;
}

.boton-item-carousel {
  font-family: "seoge";
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  background-color: #e29b00;
  width: 15rem;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  color: #ffffff;
  border: none;
}

.boton-item-carousel:hover {
  background-color: #ffae00;
}
